/*reset*/
a, body, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    color: #000040;
}

h1 {
    color: #f1f1f1;
}

h2 {
    color: #f1f1f1;
    text-align: center;
}

.bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
}


#baner {
    display: flex;
    align-items: center;
}
/*Nawigacja*/
a {
    color: inherit;
}

a.active {
    background-color: #04AA6D;
}

a.coursesMenu.active {
    background-color: #000000;
}

nav {
    font-family: calibri, tahoma;

    color: #f1f1f1;
    background-color: #282A35;

    box-shadow: 0px 1px 5px #282a3572;

    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

nav ul {
    margin: 0;
}

nav li { 
    list-style-type: none;
} 

nav li:hover { 
    background-color: #000000;
    color: #ffffff;
} 

nav li a {
    box-sizing: border-box;
    display : block; 
    padding : 4pt; 
    text-decoration: none;
} 

nav li li {
    margin: 0;
}

nav li li a { 
    width: 160px; 
}

nav li ul { 
    overflow: hidden; 
    display: none; 
} 

nav li:hover ul {
    margin: 0;
    padding: 0;

    display: block; 
    width: 160px; 
    position: absolute;
    z-index: 1;

    color: #f1f1f1;
    background-color: #282A35;
}

/*Pozycjonowanie elementów na stronie */
main {
    margin-right: 125px;
    padding:1%;
}

aside {
    background-color: #E7E9EB;
    position: absolute;
    right: 0;
    overflow: auto;
    width: 125px; 
}

aside h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

aside ul {
    margin: 0;
    padding: 0;
}

aside li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 5px;
}

aside li:hover {
    background-color: #cccccc;
}

aside.visible {
    display: block;
}


@media screen and (max-width: 600px){
    .bar {
        width: 200px;
    }
}

@media screen and (min-width: 500px){
    .coursesMenu {
        display: none;
    }
    aside {
        display: block;
    }
}

@media screen and (max-width: 499px) {
    aside {
        display: none;
    }

    main {
        margin-right: 0 !important;
    }
}

footer{
    background-color: white;
    color: black;
    clear:both;
    width:100%;
    padding:5px 0 5px 0;
    text-align:center;
}
