table {
    background: white;
    text-align: center;
    width: 94%;
    margin: 2%;
    border: 1pt solid #000040;
}

caption {
    font-size: 150%;
}

tfoot, thead {
    background: #04AA6D;
    color: white;
    font-size: 120%;
}

td, th {
    border: 1pt solid #000040;

}

tfoot a {
    color: white;
}

tbody tr:nth-child(2n) {
    background-color: #d4d4d4;
}